@import "node_modules/bootstrap/scss/bootstrap.scss";

h1 {
    font-size: 1.35rem;
}

h1 {
    font-size: 1.15rem;
}

.toRight {
	text-align: right;
}

.toLeft {
	text-align: left;
}

.toCenter {
	text-align: center;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.pr {
	border-style: outset;
}

.dash-split {
	display: flex;
	justify-content: space-between;
}

.pr-title {
	font-size: 1/25rem;
	background-color: whitesmoke;
}

.pr-detail {
	font-size: 0.85rem;
	background-color: white;
}

@font-face {
	font-family: "bootstrap-icons";
	src: url("/dashboard/fonts/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"), url("/dashboard/fonts/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gh::before {
	content: "\f3ed";
}

.icon-hash::before {
	content: "\f40a";
}

.icon-person-circle::before {
	content: "\f4d7"
}

.icon-tag::before {
	content: "\f5b0"
}

.icon-file-diff::before {
	content: "\f364"
}

.icon-file-code::before {
	content: "\f362"
}

.icon-open::before {
	content: "\f3d8"
}

.icon-draft::before {
	content: "\f4c9"
}

.icon-time-stale,
.icon-chg-req,
.icon-conflict {
	color: red;
}

.icon-time-old,
.icon-rvw-unknown,
.icon-checking,
.icon-bfix {
	color: orange;
}

.icon-rvw-req,
.icon-efix {
	color: yellowgreen;
}

.icon-time-recent,
.icon-rvw-approved,
.icon-sync,
.icon-qfix {
	color: green;
}

.icon-bfix::before ,
.icon-efix::before ,
.icon-qfix::before {
	content: "\f154"
}

.icon-time-stale::before {
	content: "\f2b4";
}

.icon-time-old::before {
	content: "\f2bd";
}

.icon-time-recent::before {
	content: "\f5a1";
}

.icon-rvw-approved::before {
	content: "\f4d5";
}

.icon-rvw-req::before {
	content: "\f4dc";
}

.icon-chg-req::before {
	content: "\f4df";
}

.icon-rvw-unknown::before {
	content: "\f4da\f50c";
}

.icon-conflict::before {
	content: "\f4df";
}

.icon-sync::before {
	content: "\f633";
}

.icon-checking::before {
	content: "\f116";
}

.icon-qfix::before {
	content: "\f153";
}

.icon-efix::before {
	content: "\f153";
}

.icon-bfix::before {
	content: "\f153";
}

[class*=" icon-team"]::before {
	content: "\f4cf";
	color: green;
}

.label {
	background-color: whitesmoke;
}