<div class="w3-container pr {{ .context.classes }}">
    <div class="pr-title">
        <i class="icon icon-gh"></i>
        <a href="{{.context.url}}" target="_blank">
            <i class="icon icon-time" title="Last updated {{ dateFormat " Jan 2, 2006" .context.updatedAt }}
                ({{.context.days}} days ago)"></i>
            <i class="icon-hash"></i>{{.context.number}} - {{ .context.title }}
        </a>
    </div>
    <div class="pr-detail">
        Created {{ dateFormat "Jan 2, 2006" .context.createdAt }}
        by <a href="{{.author.url}}" target="_blank"><i class="icon icon-person-circle"></i>
            {{ .context.author.login }}</a>
        <i class="icon icon-merge"></i>
        <i class="icon icon-review"></i>
    </div>
</div>
