<div class="card pr {{ range .context._cls }}{{ . }} {{ end }}">
    <div class="pr-title dash-split">
        <div>
            <i class="icon icon-gh"></i>
            <a href="{{.context.url}}" target="_blank">
                {{ .context.title }}
                <i class="icon-hash"></i>{{.context.number}}
            </a>
        </div>
        <div class="pr-status">
            {{ if .context.isDraft }}<i class="icon icon-draft"> Draft</i> {{end}}
            <i class="icon icon-{{ (substr (.context._cls.Time) 4) }}"> {{ .context._lbl.Time }} </i>
            <i class="icon icon-{{ (substr ( .context._cls.Complexity ) 4)  }}"> {{ .context._lbl.Complexity }} </i>
            <i class="icon icon-{{ (substr ( .context._cls.Review ) 4) }}"> {{ .context._lbl.Review }} </i>
            <i class="icon icon-{{ (substr (.context._cls.Merge ) 4) }}"> {{ .context._lbl.Merge }} </i>
        </div>
    </div>
    <div class="pr-detail">
        <div>
            <i class="icon icon-open"></i> {{ dateFormat "Jan 2, 2006" .context.createdAt }}
            by <a href="{{.context.author.url}}" target="_blank"><i class="icon icon-person-circle"></i>
                {{ .context.author.login }}</a>,
            Last updated {{ dateFormat " Jan 2, 2006" .context.updatedAt }} ({{.context.days}} days ago)
            <i class="icon icon-file-diff"></i> +{{.context.additions}} -{{.context.deletions}},
            <i class="icon icon-file-code"></i> {{.context.files.totalCount}},
            {{ if .context.labels.nodes}}
            <i class="icon icon-tag"></i>
            {{range .context.labels.nodes}}
            <span class="label">{{.name}}</span><span> </span>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
