{{ $prdata:= index .Site.Data (.Get 0) }}
{{ $filters:= $prdata.filters }}
{{ $prs:= $prdata.prs }}
{{ $kinds := slice }}
{{ range $filters }}
{{ $kinds = $kinds | append .kind }}
{{ end }}
{{ $kinds = uniq $kinds }}
<div class="card card-body toLeft">
    <a class="btn btn-sm" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false"
        aria-controls="collapseExample">Filters</a>
    <div id="filters" class="collapse">
        {{ range $val:= $kinds }}
        <div>
            {{ $val }} : {{ range where $filters "kind" $val}}
            <input class="btn btn-sm icon-{{ (substr (  .cls  ) 4)}}" id="btn-{{.cls}}" type="button"
                value="{{ .label }} ({{ .count }})">
            {{ end }}
        </div>
        {{ end }}
    </div>
    <script>
        $(document).ready(function () {
            {{ range $filters }} $("#btn-{{.cls}}").click(function () { $(".pr").hide(); $(".{{if ne .cls "fil-pr"}}{{.cls}}{{else}}pr{{end}}").show(); }); {{ end }}
        });
    </script>
    {{ range $prs }}
    {{ partial "pr"  (dict "context" . )  }}
    {{ end }}
</div>
