{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}
{{ $group := printf "tabs-%s" $id }}

<div class="container">
<ul class="nav nav-tabs" role="tablist">
{{- range $index, $tab := .Scratch.Get $group -}}
  <li class="nav-item" role="presentation">
    <button class="nav-link{{ if not $index }} active{{end}}" id="{{ printf "%s-%d" $group $index }}-tab" data-bs-toggle="tab" data-bs-target="#{{ printf "%s-%d" $group $index }}" 
        type="button" role="tab" aria-controls="home" aria-selected="{{ if not $index }}true{{else}}false{{ end }}">{{- $tab.Name -}}</button>
  </li>
{{- end -}}
</ul>
<div class="tab-content">
{{- range $index, $tab := .Scratch.Get $group -}}
  <div id="{{ printf "%s-%d" $group $index }}" class="tab-pane fade{{ if not $index }} show active{{ end }}" role="tabpanel" aria-labelledby="{{ printf "%s-%d" $group $index }}-tab">
    {{- .Content -}}
  </div>
  {{- end -}}
</div>
</div>