{{ $team:= .Get "team" }}
{{ if eq $team "Compiler" }}
{{ .Scratch.Set "date" .Site.Data.PR_FE.data.organization.repository.updatedAt }}
{{ else if eq $team "CompilerTools" }}
{{ .Scratch.Set "date" .Site.Data.PR_CT.data.organization.repository.updatedAt }}
{{ else if eq $team "JBallerina" }}
{{ .Scratch.Set "date" .Site.Data.PR_RT.data.organization.repository.updatedAt }}
{{ end }}

<div class="toRight">Last Updated at {{ dateFormat "Jan 2, 2006 15:04 MST" ( time (.Scratch.Get "date"))}} </div>